﻿@using ApprovalWFDemo.ViewModels
@model List<ApprovalWFDemo.ViewModels.ApprovalItemViewModel>


@{
    ViewBag.Title = "我提交的审批任务";
}
<p class="text-success"></p>
<h3>@ViewBag.Title</h3>
<div class="row">
    <div class="col-sm-12">
        @if (Model.Count > 0)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>标题</th>
                        <th>类型</th>
                        <th>当前状态</th>
                        <th>申请日期</th>
                        <th>审批完成日期</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id
                            </td>
                            <td>
                                <a href="@Url.Action("ViewApprovalItem","ApprovalTask",new {approvalId=@item.Id})" target="_blank">@item.Title</a>
                                
                            </td>
                            <td>@item.Type</td>
                            <td>@item.Status</td>
                            <td>@item.ApplyDate</td>
                            <td>@item.CompleteDate</td>
                        </tr>
                    }
                </tbody>

            </table>
        }
    </div>
</div>
