﻿@using ApprovalWFDemo.ViewModels
@model List<WorkFlowViewModel>


@{
    ViewBag.Title = "我的审批任务";
}
<p class="text-success"></p>
<h3>@ViewBag.Title</h3>
<div class="row">
    <div class="col-sm-2">
        <a href="@Url.Action("CreateApprovalItem")" class="btn btn-info">
            <i class="glyphicon glyphicon-plus">起草审批任务</i>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @if (Model.Count > 0)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>标题</th>
                        <th>类型</th>
                        <th>当前状态</th>
                        <th>申请人</th>
                        <th>申请人联系电话</th>
                        <th>申请日期</th>
                        <th>审批流程发起人</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var workFlowItem in Model)
                    {
                        <tr>
                            <td>@workFlowItem.Id
                            </td>
                            <td>
                                <a href="@workFlowItem.WfBusinessUrl" target="_blank">@workFlowItem.Title</a>
                                
                            </td>
                            <td>@workFlowItem.WorkFlowType</td>
                            <td>@workFlowItem.WfStatus</td>
                            <td>@workFlowItem.Applicant</td>
                            <td>@workFlowItem.ApplicantPhone</td>
                            <td>@workFlowItem.ApplicantDate</td>
                            <td>@workFlowItem.WfDrafter</td>
                        </tr>
                    }
                </tbody>

            </table>
        }
    </div>
</div>
