﻿@model ApprovalWFDemo.Models.ApprovalItem


@{
    ViewBag.Title = "申请单审批";
}
<p class="text-success"></p>

<h3>@ViewBag.Title</h3>
    <form method="post" id="processApprovalItem" class="form-horizontal">
    <div class="row">
        <div class="col-sm-12">
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <label class="col-sm-3 control-label">标题：</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control col-sm-9" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">申请人：</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Applicant, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">联系电话：</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.ApplicantPhone, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">描述：</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "5" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">审批意见：</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(m => m.DealwithpeopleOpinion, new { @class = "form-control", rows = "5" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">审批人：</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(m => m.DealwithpeopleName, new { @class = "form-control", rows = "5" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">管理人意见：</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(m => m.ManagerOpinion)
                </div>
            </div>
            @if (@ViewBag.WfWriteField != "")
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label">审批意见：</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="iOpinion" name="Opinion" rows="5"></textarea>
                    </div>
                </div>
            }

        </div>
        <div class="col-sm-12">
            <a href="#" class="btn btn-info col-sm-2" id="btnSave">
                <i class="glyphicon glyphicon-ok"></i> 提交
            </a>
        </div>
    </div>
</form>

@section scripts{
    <script type="text/javascript">
        var instanceId;
        $(document)
            .ready(function() {

                $("#btnSave")
                    .on('click',
                        function() {
                            debugger
                            var inputOptions = [];
                            $.getJSON("/ApprovalTask/GetPossiblePath?id=@ViewBag.instanceId &time="+new Date(),
                                function(data) {
                                    $.each(data.rows,
                                        function(i, item) {
                                            inputOptions.push({ text: item.Name, value: item.Name });
                                        });
                                    bootbox.prompt({
                                        title: "选择提交环节",
                                        inputType: 'select',
                                        inputOptions: inputOptions,
                                        callback: function(result) {
                                            console.log(result);
                                            saveWorkFlow(result);
                                            //save the approvalitem
                                        }
                                    });

                                });
                        });

                function saveWorkFlow(selectResult) {
                    if (selectResult !== "") {
                        $("#processApprovalItem")
                            .submit(function (e) {
                                var postData = $(e.target).serialize();
                                $.ajax({
                                    url: '/ApprovalTask/ToNextState?instanceId= @ViewBag.instanceId &nextLink=' +
                                        selectResult,
                                    type: 'post',
                                    data: postData,
                                    success: function(data, textStatus, jqXHR) {
                                        window.location.href = "/ApprovalTask/MyApprovalItems";
                                    }
                                });
                                e.preventDefault();
                            });
                        $("#processApprovalItem").submit();
                    }
                }
            });

    </script>
}