﻿@model ApprovalWFDemo.Models.ApprovalItem


@{
    ViewBag.Title = "查看我的申请";
}
<p class="text-success"></p>
    <form method="post" class="form-horizontal">
    <div class="row">
        <div class="col-sm-12">
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <label class="col-sm-3 control-label">标题：</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control col-sm-9" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">申请人：</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Applicant, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">联系电话：</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.ApplicantPhone, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">描述：</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "5" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">审批意见：</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(m => m.DealwithpeopleOpinion, new { @class = "form-control", rows = "5" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">审批人：</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(m => m.DealwithpeopleName, new { @class = "form-control", rows = "5" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">管理人意见：</label>
                <div class="col-sm-9">
                    @Html.DisplayFor(m => m.ManagerOpinion)
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">流程流转信息：</label>
                <div class="col-sm-9">
                    <p>@ViewBag.WfFlowChart</p>
                </div>
            </div>
        </div>
    </div>
</form>
