﻿@{
    ViewBag.Title = "Home Page";
}

<h3> 摩托车</h3>

<div class="row">
    <div class="col-sm-12 form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">摩托车:</label>
            <div class="col-sm-6">
                <select class="form-control" id="ddlBike">
                    <option value="1">哈雷</option>
                    <option value="2">雅马哈</option>
                    <option value="3">川崎摩托</option>
                </select>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <a class="btn btn-info" id="btnGoToNext">下一步</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document)
            .ready(function() {

                $("#btnGoToNext")
                    .on('click',
                        function() {

                            var carType = $("#ddlBike option:selected").val();
                            var carName = $("#ddlBike option:selected").text();
                            $.ajax({
                                url: "@Url.Action("OnSelectBike", "Home")",
                                data: { carType: carType,carName:carName },
                                type: 'GET',
                                success: function(data) {
                                    if (data.success) {
                                        window.location.href = data.nextPage;
                                    } else {
                                    }
                                }
                            });
                        });


            })

    </script>
}
