﻿@{
    ViewBag.Title = "Home Page";
}

<h3> 汽车</h3>

<div class="row">
    <div class="col-sm-12 form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">汽车类型:</label>
            <div class="col-sm-6">
                <select class="form-control" id="ddlCarName">
                    <option value="1">兰博基尼</option>
                    <option value="2">玛莎拉蒂</option>
                    <option value="3">法拉利</option>
                </select>
            </div>

            
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <a class="btn btn-info" id="btnGoToNext">下一步</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document)
            .ready(function() {

                $("#btnGoToNext")
                    .on('click',
                        function() {

                            var carType = $("#ddlCarName option:selected").val();
                            var carName = $("#ddlCarName option:selected").text();
                            $.ajax({
                                url: "@Url.Action("OnSelectCarType", "Home")",
                                data: { carType: carType,carName:carName },
                                type: 'GET',
                                success: function(data) {
                                    if (data.success) {
                                        window.location.href = data.nextPage;
                                    } else {
                                    }
                                }
                            });
                        });


            })

    </script>
}
