﻿@{
    ViewBag.Title = "Home Page";
}

<h3> 配送中</h3>

<div class="row">
    <div class="col-sm-12 form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">付款方式:</label>
            <div class="col-sm-6">
                <span class="text-success">@ViewBag.PayContent</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <p>明天将送达......</p>
            </div>
        </div>
    </div>
</div>

