﻿@{
    ViewBag.Title = "Home Page";
}

<h3> 请选择机车类型并继续</h3>

<div class="row">
    <div class="col-sm-12 form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">机车类型:</label>
            <div class="col-sm-6">
                <select class="form-control" id="ddlverticalType">
                    <option value="C">汽车</option>
                    <option value="B">摩托车</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <a class="btn btn-info" id="btnGoToNext">下一步</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document)
            .ready(function() {

                $("#btnGoToNext")
                    .on('click',
                        function() {

                            var verticalType = $("#ddlverticalType option:selected").val();
                            $.ajax({
                                url: "@Url.Action("OnSelectVerticalType", "Home")",
                                data: { verticalType: verticalType },
                                type: 'GET',
                                success: function(data) {
                                    if (data.success) {
                                        window.location.href = data.nextPage;
                                    } else {
                                    }
                                }
                            });
                        });


            })

    </script>
}
