﻿@{
    ViewBag.Title = "付款";
}
<h3>付款</h3>

<div class="row">
    <div class="col-sm-12">
        <p></p>
    </div>
    
    <div class="form-horizontal col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">姓名:</label>
            <div class="col-sm-8">
                <input type="text" id="txtName" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">地址:</label>
            <div class="col-sm-8">
                <input type="text" id="txtAddress" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">社保账号:</label>
            <div class="col-sm-8">
                <input type="text" id="txtSSN" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">个人收入:</label>
            <div class="col-sm-8">
                <input type="text" id="txtIncome" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">付款类型:</label>
            <div class="col-sm-8">
                <select class="form-control" id="ddlPaymentType">
                    <option value="C">支票/现金</option>
                    <option value="L">贷款</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4">
                <a class="btn btn-info" id="btnGoToNext">下一步</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document)
            .ready(function() {

                $("#btnGoToNext")
                    .on('click',
                        function () {
                            var name = $("#txtName").val();
                            var ssn = $("#txtSSN").val();
                            var income = $("#txtIncome").val();

                            var paymentType = $("#ddlPaymentType option:selected").val();
                            //var carName = $("#ddlCarName option:selected").text();
                            $.ajax({
                                url: "@Url.Action("SubmitPayment", "Home")",
                                data: { name: name, ssn: ssn,income:income,paymentType:paymentType },
                                type: 'GET',
                                success: function(data) {
                                    if (data.success) {
                                        window.location.href = data.nextPage;
                                    } else {
                                    }
                                }
                            });
                        });


            })

    </script>
}




